.idea
.vscode
.DS_Store
/src/img/*
!/src/img/audio-thumbnail-angular.png
!/src/img/audio-thumbnail-react.png
!/src/img/audio-thumbnail-svelte.png
!/src/img/audio-thumbnail-vuejs.png
!/src/img/video-thumbnail-angular.png
!/src/img/video-thumbnail-react.png
!/src/img/video-thumbnail-svelte.png
!/src/img/video-thumbnail-vuejs.png
/src/audio/*
/src/audio/angular-in-100-seconds-by-fireship.mp3
/src/audio/angular-in-100-seconds-by-fireship.ogg
/src/audio/react-in-100-seconds-by-fireship.mp3
/src/audio/react-in-100-seconds-by-fireship.ogg
/src/audio/svelte-in-100-seconds-by-fireship.mp3
/src/audio/svelte-in-100-seconds-by-fireship.ogg
/src/audio/vuejs-in-100-seconds-by-fireship.mp3
/src/audio/vuejs-in-100-seconds-by-fireship.ogg
/src/video/*
!/src/video/angular-in-100-seconds-by-fireship.mp4
!/src/video/react-in-100-seconds-by-fireship.mp4
!/src/video/svelte-in-100-seconds-by-fireship.mp4
!/src/video/vuejs-in-100-seconds-by-fireship.mp4
/src/final
